footer{a:b;a:b;
    .wrap{a:b;
        ul{a:b;
            li{a:b;

            }
        }
        p.tel{a:b;

        }
        h1{a:b;

        }
        adress{a:b;
            span.inline-block{a:b;

            }
        }
        ul.sns{a:b;
            li{a:b;

            }
        }
        p.copyright{a:b;

        }
    }
}