 vb .flex{
  display: flex;
}
.wrap{
  width: 1280px;
  margin: 0 auto;
  padding: 50px 0;
}
.line{
  line-height: 1.6;
}
.block{
    display: block;
}
/* font-style */
.h1T{
  font-size: 84px;
}
.h2T{
  font-size: 74px;
}
.h3T{
  font-size: 48px;
}
.h4T{
  font-size: 36px;
}
.h5T{
  font-size: 24px;
}
.h6T{
  font-size: 16px;
}
.sT1{
  font-size: 14px;
}
.sT2{
  font-size: 12px;
}
.bd{
  font-weight: bold;
}
.inline-block{
  display: inline-block;
}
.flex{
  display: flex;
}