footer {
}
footer .wrap {

  display: grid;
  grid-template-columns: auto auto 1fr 1fr;
  grid-template-rows: auto auto auto;
  width: 1190px;
  row-gap: 20px;
  padding-top: 67px;
}
footer .wrap ul.fnb {

  grid-column: 1 / span 2;
  grid-row: 1;
  gap: 30px;
  position: relative;
  margin-bottom: 30px;
}
footer .wrap ul.fnb::after{
  
  border-bottom: 3px solid #3a466a;
  width: calc(100vw - 17px);
  content: "";
  display: block;
  position: absolute;
  left: calc((1903px - 1190px) / -2);
  bottom: -25px;
}
footer .wrap ul.fnb li {

}
footer .wrap ul.fnb li a{
  
  color: #3a466a;
  font-weight: bold;
}
footer .wrap p.tel {

  grid-column: 3;
  grid-row: 1;
  color: #00a6b1;
  font-weight: bold;
  padding-left: 30px;
}
footer .wrap h1 {

  grid-column: 1;
  grid-row: 2 /span 2;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  width: 120px;
  height: 65px;
}
footer .wrap h1 a{
  
  font-size: 0px;
}
footer .wrap address {

  grid-column: 2 / span 2;
  grid-row: 2;
  font-style: initial;
  padding-left: 75px;
  font-weight: bold;
  line-height: 1.5;
}
footer .wrap address span.inline-block {

  margin-left: 20px;
}
footer .wrap ul.sns {

  grid-column: 4;
  grid-row: 2;
  justify-content: end;
}
footer .wrap ul.sns li {

  font-size: 0px;
  background-repeat: no-repeat;
  margin-left: 10px;
}
footer .wrap ul.sns li a{
  
  width: 30px;
  height: 30px;
}
footer .wrap ul.sns li:nth-child(1){
  
  background-image: url(../img/icon1.png);
  width: 30px;
  height: 30px;
}
footer .wrap ul.sns li:nth-child(2){
  
  background-image: url(../img/icon2.png);
  width: 30px;
  height: 30px;
}
footer .wrap ul.sns li:nth-child(3){
  
  background-image: url(../img/icon3.png);
  width: 30px;
  height: 30px;
}
footer .wrap ul.sns li:nth-child(4){
  
  background-image: url(../img/icon4.png);
  width: 30px;
  height: 30px;
}
footer .wrap ul.sns li:nth-child(5){
  
  background-image: url(../img/icon5.png);
  width: 30px;
  height: 30px;
}
footer .wrap p.copyright {

  grid-column: 2 / span 2;
  grid-row: 3;
  padding-left: 75px;
  color: #b8b8b8;
  font-weight: 300;
}